<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="AutoMinify" value="True"/>
    </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
      
      <httpModules>
          <add name="AutoMinify" type="AutoMinify" />
      </httpModules>
      
  </system.web>

</configuration>